.banner {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.banner-container {
  width: 85%;
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 5%;
}

.bannerbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 0.5px solid #b7b7b7;
  margin-bottom: 3%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
}

.bannerbox:hover {
  background-color: #eeeeee;
}

.banner-top {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.bannerimg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerimg img {
  width: 100%;
  height: 100%;
}

.banner-detail {
  width: 48%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.banner-title h1 {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: start;
  text-transform: uppercase;
  color: #b7b7b7;
  padding-bottom: 5px;
  padding-left: 5px;
}

.Genres {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bannerbtn {
  width: auto;
  padding: 1px 12px !important;
  border: 0.6px solid #d44638;
  border-radius: 3px;
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  text-align: center;
  text-transform: capitalize;
  color: #d44638;
  background-color: transparent;
  cursor: pointer;
}

.bannerbtn:first-child {
  margin-left: 5px !important;
}

.banner-data {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 5px;
  margin-top: 10px;
}

.banner-data h1 {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px !important;
  padding: 0 0 0 0;
  color: #282c36;
}

.banner-data p {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #828282;
}

.banner-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  margin-top: 10px;
  align-items: center;
}

.right h1 {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0 !important;
  text-transform: capitalize;
  text-decoration: underline;
  color: #282c36;
}

.right p {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #282c36;
}

.left {
  display: flex;
}

.left h1 {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #d44638;
  padding-right: 10px;
}

.arrow.right.icon {
  color: #d44638;
}

.genres-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 0.5px solid #b7b7b7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-bottom: 3%;
  height: fit-content;
}

.genres-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  margin: auto;
  position: relative;
  padding: 10px;
}

.large-genresnav {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
  margin: auto;
  padding: 10px;
  /* overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  */
}

.overflow-links button{
  border: none;
  background-color: transparent;
  outline: none;
  white-space: nowrap !important;
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background: #ffffff;
  border-radius: 3px;
  padding: 12px 16px;
  height: 47px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  color: #282c36;
}

.overflow-links ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
}

.new-drop{
  display: block;
  position: absolute;
}

.new-drop ul{
  display: block;
  width: fit-content !important;
  cursor: pointer;
  padding: 10px;
}

.none-drop{
  display: none;
}

.overflow-links{
  display: inline-flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-links::-webkit-scrollbar {
  display: none !important;
}

.overflow-links ul::-webkit-scrollbar {
  display: none !important;
}

.overflow-links li{
  padding-bottom: 0 !important;
}

.genres-navlinks {
  display: flex;
  white-space: nowrap !important;
  align-items: center;
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 12px 16px;
  height: 47px;
  line-height: 23px;
  text-align: center;
  color: #282c36;
  margin-left: 0 !important;
}

.genres-navlinks:hover {
  background: rgba(212, 70, 56, 0.1);
  background-color: white;
  color: rgb(212, 70, 56);
}

/* .genres-navlinks:first-child{
    margin: 0 !important;
} */

.relative-drop {
  width: fit-content !important;
  display: flex;
  flex-flow: column;
  position: relative;
}

.absolute-drop{
  width: fit-content !important;
  display: flex;
  flex-flow: column;
  position: absolute;
}

.ui.dropdown {
  display: flex;
  align-items: center;
  white-space: nowrap !important;
  /* position: absolute; */
}

.ui.dropdown > .text {
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #282c36;
}

.menu.transition.visible {
  padding: 10px;
}

.genres-droplink {
  cursor: pointer;
  font-family: "SourceSansPro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #282c36;
  padding: 8px;
  background-color: white;
}

.genres-droplink:hover{
  color: #D44638;
}

.linkactive {
  background: rgba(212, 70, 56, 0.1);
  border-radius: 3px;
  color: #d44638;
}

.linkactive:hover{
  border-radius: 3px;
  color: #d44638;
  border: 1px solid #d44638;
  background-color: #ffffff;
}

/**/

.bannermobbox {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: #ffffff;
  margin-bottom: 3%;
  padding: 10px 10px 10px 10px;
}

.home-header{
  width: 100%;
}

.home-container{
  width: 85%;
  display: flex;
  flex-flow: column;
  margin: auto;
  /* padding: 10px; */
  margin-top: 5%;
  /* margin-bottom: 10px; */
}

.home-container h1{
  margin-bottom: 10px !important;
  font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
text-transform: uppercase;
display: flex;
align-items: center;
color: #282C36;
}

.home-container h2{
  margin-top: 5px !important;
  font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
display: flex;
align-items: center;
color: #D44638;
}

.bannermobbox:hover{
  border: 0.5px solid #b7b7b7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.banner-mobdetail {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

.banner-mobimg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.banner-mobimg img {
  width: 100%;
}

.banner-mobfooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  align-items: center;
  padding-top: 30px;
}

/**/
