footer {
  width: 100%;
  background-color: #ebebeb;
}

.large-footer {
  width: 100% !important;
  background-color: #ebebeb;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
}

.subscribe {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.subtext {
  font-family: "Montserrat";
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #d44638;
  margin-bottom: 0;
}

.searchpage {
  width: 95%;
  height: 35px;
  background: #ffffff;
  border: 0.5px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 10px;
  -webkit-appearance: none !important;
  border-style: none !important;
  padding-left: 10px;
}

.searchtab {
  width: 259px;
  height: 35px;
  background: #ffffff;
  border: 0.5px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 10px;
  -webkit-appearance: none !important;
  border-style: none !important;
  padding-left: 10px;
}

input {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #202020;
}

input::-webkit-input-placeholder {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b7b7b7;
}

input::-moz-placeholder {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b7b7b7;
}

input:-ms-input-placeholder {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b7b7b7;
}

input:-moz-placeholder {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b7b7b7;
}

.search:focus {
  outline: none !important;
}

.submitbtn {
  border: 0.6px solid #d44638;
  border-radius: 3px;
  font-family: helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 18px;
  text-align: center;
  text-transform: capitalize;
  color: #d44638;
  background-color: transparent;
  cursor: pointer;
}

.submitbtn:hover {
  background-color: #d44638;
  color: #ffffff;
}

.caller {
  display: flex;
  width: 80%;
  flex-flow: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.diviider {
  width: 100%;
  height: 0.1px;
  border: 0.05px solid #b7b7b7;
}

.divviider {
  width: 95%;
  margin: auto;
  height: 0.1px;
  border: 0.05px solid #b7b7b7;
}

.call-detail {
  display: flex;
  width: 80%;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.call-detail img {
  width: 30px;
  height: 30px;
  margin-left: 10%;
}

.call-para {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  margin: auto;
  color: #282c36;
  margin-top: 0;
}

.call-para a {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  white-space: nowrap;
  color: #d44638;
  text-decoration: none !important;
  padding-left: 4px;
}

.misc {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.boxes {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 200px;
  height: 100%;
}

.box p {
  font-family: helvetica;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282c36;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

li {
  font-family: helvetica;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #282c36;
  padding-bottom: 5px;
  text-align: center;
}

.icons {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.smallbox {
  width: 55%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.lastline {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #828282;
  white-space: nowrap;
}

.icons a {
  color: #202020;
}

/*tab starts*/

.subscribe-tab {
  display: flex;
  flex-flow: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.subtext-tab {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #d44638;
  margin-bottom: 0;
}

.subtext-mob {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #d44638;
  margin-bottom: 10px;
}

.tab {
  margin-top: 15px !important;
}

.call-detail-tab {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.caller-tab {
  display: flex;
  width: 80%;
  flex-flow: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.call-detail-tab img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.call-para-tab {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  margin: auto;
  color: #282c36;
  margin-left: 50px;
}

.call-para-tab a {
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  white-space: nowrap;
  color: #d44638;
  text-decoration: none !important;
  padding-left: 4px;
}

/*ends*/

/*Mobile starts*/

.boxmob {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

.boxmob li {
  font-family: helvetica;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #282c36;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.boxmob ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*Mobile ends*/
